@{
    ViewData["Title"] = "Home Page";
}

<div class="container normalText p-4 px-5">
    <div class="row">
        <h2 class="text-dark p-0 mb-4">Accounts</h2>
        <div class="table-responsive py-4 px-5 bg-white rounded-4">
            <table class="table border-opacity-10 darkBlueGreen">
                <thead>
                    <tr>
                        <th scope="col" class="darkBlueGreen">Nickname</th>
                        <th scope="col" class="darkBlueGreen">Product</th>
                        <th scope="col" class="darkBlueGreen">Balance/Debt</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1,001</td>
                        <td>random</td>
                        <td>data</td>
                    </tr>
                    <tr>
                        <td>1,002</td>
                        <td>placeholder</td>
                        <td>irrelevant</td>
                    </tr>
                    <tr>
                        <td>1,003</td>
                        <td>data</td>
                        <td>rich</td>
                    </tr>
                    <tr>
                        <td>1,003</td>
                        <td>information</td>
                        <td>placeholder</td>
                    </tr>
                    <tr>
                        <td>1,004</td>
                        <td>text</td>
                        <td>random</td>
                    </tr>
                    <tr>
                        <td>1,005</td>
                        <td>dashboard</td>
                        <td>irrelevant</td>
                    </tr>
                    <tr>
                        <td>1,006</td>
                        <td>dashboard</td>
                        <td>illustrative</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
