@using NetBankingApp.Core.Application.ViewModels.Beneficiary
@model SaveBeneficiaryViewModel
@{
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header card-header-color">
                    <h4>Creating a new beneficiary</h4>
                </div>
                <div class="card-body card-body-color">
                    <form method="post" asp-controller="Beneficiary" asp-action="Create" >
                        <div class="mb-3">
                            <label asp-for="BeneficiaryAccountGuid" class="form-label">Beneficiary account guid:</label>
                            <input asp-for="BeneficiaryAccountGuid" class="form-control" />
                            <span asp-validation-for="BeneficiaryAccountGuid" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="NickName" class="form-label">NickName:</label>
                            <input asp-for="NickName" class="form-control" />
                            <span asp-validation-for="NickName" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-success">Save</button>
                        <a asp-controller="Beneficiary" asp-action="Index" class="btn btn-warning">Back</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

