@using NetBankingApp.Core.Application.ViewModels.Loan;
@model SaveLoanViewModel;
@{
    ViewData["Tittle"] = "Add Loan";
}

<div class="container normalText p-4 px-5">
    <div class="row">
        <h2 class="text-dark p-0 mb-4 text-center">Add loan account</h2>
        <div class="d-flex justify-content-center">
            <div class="py-5 px-5 bg-white rounded-4 col-6">
                <form method="post" asp-controller="Loan" asp-action="AddLoan">

                    <div class="mb-4 d-flex justify-content-center">
                        <div class="col-8">
                            <div class="">
                                <label asp-for="LoanAmount" class="form-label fw-bold">Amount</label>
                                <input asp-for="LoanAmount" class="form-control inputCustomize">
                                <span asp-validation-for="LoanAmount" class="text-danger"></span>
                                <input type="hidden" asp-for="IdCustomer" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="col-8">
                            <button type="submit" class="btn btn-info w-100 fw-bold">Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
