@{
    ViewData["Title"] = "Acceso denegado";
}

<div class="row mt-5">
    <div class="col-6 offset-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h2>No cuenta con los permisos necesarios para acceder a esta sección - <a class="btn btn-warning" asp-controller="Home" asp-action="Index"> Home </a> </h2>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
                </div>
            </div>
        </div>
    </div>
</div>